*.dll
*.pdb
YelpFeed.Test/bin/Debug/Newtonsoft.Json.xml
packages/repositories.config
packages/Newtonsoft.Json.4.5.11/lib/sl4/Newtonsoft.Json.xml
packages/Newtonsoft.Json.4.5.11/Newtonsoft.Json.4.5.11.nupkg
packages/Newtonsoft.Json.4.5.11/lib/net20/Newtonsoft.Json.xml
YelpFeed/obj/Debug/YelpFeed.csproj.FileListAbsolute.txt
YelpFeed.Test/bin/Debug/YelpFeed.Test.dll.config
*.cache
YelpFeed.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
YelpFeed.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
YelpFeed.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
YelpFeed.Test/obj/Debug/YelpFeed.Test.csproj.FileListAbsolute.txt
YelpFeed/bin/Debug/Newtonsoft.Json.xml
YelpFeed/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
YelpFeed/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
YelpFeed/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages/Newtonsoft.Json.4.5.11/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.4.5.11/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.4.5.11/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.xml
packages/Newtonsoft.Json.4.5.11/lib/sl3-wp/Newtonsoft.Json.xml
packages/Newtonsoft.Json.4.5.11/lib/sl4-windowsphone71/Newtonsoft.Json.xml
packages/Newtonsoft.Json.4.5.11/lib/winrt45/Newtonsoft.Json.xml
C-Sharp-Yelp-API-v2.0.v12.suo
C-Sharp-Yelp-API-v2.0.v12.suo
*.suo
*.suo