<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Request the keys here http://www.yelp.com/developers/getting_started/api_access -->
    <!-- Get your keys here http://www.yelp.com/developers/manage_api_keys -->
    <add key="customer_key" value=""/>
    <add key="customer_secret" value="" />
    <add key="access_token" value=""/>
    <add key="access_token_secret" value=""/>
  </appSettings>
</configuration>