<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Request the keys here http://www.yelp.com/developers/getting_started/api_access -->
    <!-- Get your keys here http://www.yelp.com/developers/manage_api_keys -->
    <add key="CONSUMER_KEY" value=""/>
    <add key="CONSUMER_SECRET" value=""/>
    <add key="TOKEN" value=""/>
    <add key="TOKEN_SECRET" value="hwL0CHrXt0-"/>
  </appSettings>
</configuration>