<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Request the keys here http://www.yelp.com/developers/getting_started/api_access -->
    <!-- Get your keys here http://www.yelp.com/developers/manage_api_keys -->
    <add key="customer_key" value="cFNIg7d59DBgpZyFU3Jt0A"/>
    <add key="customer_secret" value="XCA1WAfO8PSsghjP8GhfhnbcmUE" />
    <add key="access_token" value="HudpOVikL0VuTkUnBvoIRZCQLmKCeqUG"/>
    <add key="access_token_secret" value="hwL0CHrXt0-MFN2kbn5jHLzNLCk"/>
  </appSettings>
</configuration>